/* ImageDetail.css */
.image-detail {
    padding: 20px;
    text-align: center;
}

.image-detail img {
    border-radius: 8px; /* Bordas arredondadas para a imagem */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
}
